In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('music.csv',  names = ['Artist_Name', 'Album_number', 's'], encoding='iso-8859-1')

In [6]:
data

            Artist_Name  Album_number   s
0                  2Pac             7  35
1    30 Seconds To Mars             1   1
2               50 Cent             9  46
3        Action Bronson             1   3
4             Aerosmith             4   4
..                  ...           ...  ..
291        X-Ecutioners             1   2
292              Xzibit             2  18
293            Yelawolf             1   1
294          Young Buck             2   6
295         Young Jeezy             5  36

[296 rows x 3 columns]